<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title id="home">BPHC Hospital - Doctor Home page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/effects3.css">
</head>


<body>
<div id="page">
<h1 id = "logo"> BPHC Hospital </h1>



<p style="color:#f5deb3;font-family:Brush Script MT">
....delivering excellence since 1990
</p>
</div>
<br><br>
<div class="button_container">
	<a href = "doclogout"><button type="menu" style = "width: 10%; height: 45px; font-size: 21px;">Logout</button></a>
</div>

<h1 id="entry_text">Welcome back, {{ data[0] }} !</h1>

<div class="button_container">
	<a href = "doctorDetails"><button type="menu">Personal Details</button></a>
	<a href = "doctorPatients"><button type="menu">Current Patients</button></a>
	<a href = "doctorHistory"><button type="menu">Patient History</button></a>
</div>

<div id = "acknowledge">ⒸBPHC hospital 2021</div>
</body>
</html>
