<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title id="home">bphc hospital</title>
	<link rel="stylesheet" href="../static/effects.css">
</head>


<body>
<div id="page">
<h1 id = "logo"> BPHC Hospital </h1>

<ul id="navigation">
<li><a href="doclogin" class="">Login</a></li>
<li><a href="adminlogin" class="">Admin Login</a></li>
<li><a href="patientregistration.html">Patient corner</a></li>
</ul>

<p style="color:#f5deb3;font-family:Brush Script MT">
....delivering excellence since 1990
</p>
</div>
<br> <br>
<p id = 'content'><i><b><u>Our mission and vision:</u></b></i> <br /><br /><br /><br />
To provide value added innovative, consistent, and continuously improving health and medical care to sustain and further
improve clinical outcomes, patient safety, & patient satisfaction.
</p>

<div id = "acknowledge">ⒸBPHC hospital 2021</div>
</body>
</html>
