<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title id="home">bphc hospital</title>
	<link rel="stylesheet" href="../static/effects.css">
  <style> @font-face {
	  font-family: "indieflower";
	  src:url('../fonts/font.ttf');
	}</style>
</head>


<body>
<div id="page">
<h1 id = "logo"> BPHC Hospital </h1>


<p style="color:#f5deb3;font-family:Brush Script MT">
....delivering excellence since 1990
</p>

</div>
<br> <br>
<p style = "border: 2px solid red;font-family: indieflower;
padding: 6em;
color: darkolivegreen;
background: antiquewhite;
font-size: 1.5em;
border-radius: 5em;
text-shadow: 1px 1px 1px;line-height:2em">We are extremely sorry but the patient id you entered does not exist, please check the patient id you have entered. If you are new here,
please register as a new patient. Have a nice day!
<br><br><u><a style = "color:blue" href = "http://127.0.0.1:5000/">Back to main page</a></u></p>


<div id = "acknowledge">ⒸBPHC hospital 2021</div>
</body>
