<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title id="home">bphc hospital</title>
	<link rel="stylesheet" href="../static/effects.css">
	<link rel="stylesheet" href="../static/effects2.css">
</head>


<body>
<div id="page">
<h1 id = "logo"> BPHC Hospital </h1>



<p style="color:#f5deb3;font-family:Brush Script MT">
....delivering excellence since 1990
</p>
</div>
<br> <br>
<div><br/><br/><br/>
<a href = "newpatient" class = "reg" style = "background:darkcyan">If you are a new patient, register here</a><br><br><br><br>
<hr /><p style = "text-align: center;color:burlywood">OR</p><hr /><br><br><br><br>
<a href = "oldpatient" class = "reg" style = "margin-left : 12em; background:darkcyan">If you are an existing patient, enter your details here</a>
</div>


<div id = "acknowledge" style = "margin-top : 12em">ⒸBPHC hospital 2021</div>
</body>
